body {
  font-family: 'Roboto';
  background: #ffcc00;
}

/* Flex */
.flexGrow1 {
  flex-grow: 1;
}

.displayInlineBlock {
  display: inline-block;
}

.marginTop16 {
  margin-top: 16px;
}

.marginBottom16 {
  margin-bottom: 16px;
}
.marginLeft16 {
  margin-left: 16px;
}

.marginRight16 {
  margin-right: 16px;
}


/* Time picker workaround */

ul.react-datepicker__time-list {
  padding-left: 0;
}


.react-datepicker-wrapper input {
  background: no-repeat;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.react-datepicker-wrapper .react-datepicker__close-icon {
  top: 7%;
}